name: Update WakaTime Stats

on:
  schedule:
    - cron: "0 0 * * *"   # update setiap hari jam 00:00 UTC
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          SECTION_NAME: waka
          TIME_RANGE: last_7_days
          LANG_COUNT: 5
          SHOW_TITLE: true
          BLOCKS: ░▒▓█
