name: Update WakaTime Stats

on:
  push:
    branches:
      - main
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  update-readme:
    runs-on: ubuntu-latest
    steps:
      - uses: athul/waka-readme@master
        with:
          WAKATIME_API_KEY: ${{ secrets.WAKATIME_API_KEY }}
          REPOSITORY: ${{ github.repository }}
          SECTION_NAME: waka
          TIME_RANGE: all_time
          LANG_COUNT: 5
          SHOW_TITLE: true
          BLOCKS: ░▒▓█
          COMMIT_MESSAGE: "chore: update WakaTime stats (all time)"
